*{
    Margin: 0;

}

@font-face{
    font-family: 'SBS';
    font-weight: 800;
    src: url("https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUuhpKKSTjw.woff2");
}

body{
    font-family: SBS;
}

/* .container{
    display: grid;
    /* grid-temp: ;
    grid-template-columns: ; */

*/

.h1{
    font-size: 35px;


}

.h2{
    font-size: 20px;

}

.h3{
    font-size: 10px;
}

.bootstrap{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 25px;
}
.navbarSetup{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: white;
    position: relative; 

}

.headerImage{
    /* border: 2px solid red; */
    height: 90vh;
    background-image: url("https://startbootstrap.github.io/startbootstrap-clean-blog/img/home-bg.jpg");
    background-size: cover;
    background-position: 0% 50%;
    position: relative; 
    

}

.overlay{
    position: absolute; 
    top: 0px;
    width: 100%;
    height: 100%;
}

.containerBlogs{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 50%;
    margin: 0 auto; 
}

.spacing{
    margin: 20px auto;
    /* border: 2px solid red;  */
    width: 100%;
}

.title{
    display: flex;
    margin: 0 auto;
    font-size: 70px;
    color: white;
    flex-direction: column;
    align-items: center;
    margin: 150px auto;
}

.title2{
    display: flex;
    font-size: 20px;
    color: white; 
    flex-direction: column;
    align-items: center;
    margin: -150px auto;
}