*{
    padding: 0px;
    margin: 0px; 
}

 .squareContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: purple;
    /* justify content and align items centers items on different axises */
 }

.fourSquares {
    display: grid;
    grid-gap: 6px;
    /* grid-template-rows: 2fr; */
    grid-template-columns: 1fr 1fr;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
​
.oneSquare {
    border: 3px solid red;
}